{% extends 'core/core.html' %}
{% load static%}

{% block title%}
Register
{% endblock%}

{% block css_file%}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock%}
{% block body%}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <h2>SignUp</h2>
        {% for field in form%}
        <br>
        {{field}}
        <br>
        {% endfor%}
        <button class="btn">SignUp</button>
        <div class="links">
            <a href="{% url 'login'%}">Already have an account?</a>
        </div>
    </form>
</div>
{% endblock %}